body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}

main{
    background: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0.75)  ) , url('../img/AboutBackground.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Calibri;
    padding-bottom: 20px;
}
p{
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 8%;
    margin: 0;
    width: 50%; 
    line-height: 1.2;  
}