body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}

main{
    padding-top: 20px ;
    padding-bottom: 2 0px ;
    font-family: Calibri ;
    text-align: center;
    color: white;
    background-color:rgb(0, 0, 0);
}
.clients {
    width: 100%;
    display: flex;
    justify-content: center; 
    text-align: center;
    padding-bottom: 20px;
}
.client_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    border: 5px solid #ecdf98;
    box-sizing: border-box;
    
    font-size: 24px;
    font-weight: bold;
}
main h1{
    color: #ecdf98;
}
main h2{
    color: #ecdf98;
}
  
.image-container {
    width: 100%;
    height: 50vh;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
}

summary {
    background: linear-gradient(to right, rgba(236, 223, 152, 0.8), rgba(236, 223, 152, 0.8)) , url('../img/HomePageBackground.jpg');
    background-size: cover;
    background-position: center;
    font-family: Calibri;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.services {
    padding-top: 20px;
    text-align: center;
}
.services table {
    margin: 0 auto;
}
.services .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services td {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px; 
    padding-top: 20px;
    font-weight: bold; 
}
.services img{
    max-height: 100px;
}

.make_contact{  
    padding-top: 20px; 
    padding-bottom: 20px; 
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}
.make_contact table{
    margin-right: 5%;
}
input{
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    border-color: white;
    box-shadow: 0 0 50px #E3CB68;
    color: gray;
}
input[type="text"][placeholder="פרטי הפנייה"]{
    width: 670px;
}
select {
    width: 320px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    border-color: white;
    box-shadow: 0 0 50px #E3CB68;
    color: grey;
}
button {
    width: 320px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #E3CB68;
    border-radius: 4px;
    font-size: 16px;
    outline: none;  
    background-color: #E3CB68;
    box-shadow: 0 0 50px #E3CB68;
    color: black;
}

h1{
    margin: 0;
}
h2{
    margin: 0;
    padding: 5px;
} 