body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}

.servicesContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url("../img/ServicesBackground.avif");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}

.cell {
    position: relative;
    margin: 10  px;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; 
    border: 2px solid #ecdf98; 
    border-radius: 20px;  
    width: calc(33.33% - 22px);
    margin-bottom: 20px;
}

/* For 2 items in each row */
@media (max-width: 1000px) {
    .cell {
        width: calc(50% - 22px);
    }
}

/* For 1 item in each row */
@media (max-width: 500px) {
    .cell {
        width: 100%;
    }
}
 
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecdf98;
}

main img{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 20px;
}
 
.dialog {
    direction: rtl;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    max-width: 100% ;
    color: white;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/ServicesDialogBackground.avif);
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #E3CB68;
}
.dialog nav{
    display: flex;
    border-radius: 5px;
    padding: 0;
    direction: rtl;
    text-align: right;
    height: 40px;
    width: 100%;
    color: black;
    font-size: 15px;
}
.dialog .close-button {
    padding: 5px;
    padding-right: 10px;
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.dialog nav p{
    padding: 0;
    margin: 10px;
    font-size: 20px;
}
.dialog p{
    font-family: Calibri;
    padding: 20px;
    padding-left: 40%;
    padding-right: 40px;
}