body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    direction: rtl;
}

header{
    height: fit-content; 
    background-color: white;
    text-align: center;
}
.contact{
    direction: ltr;
    padding-right: 10px;
    padding-left: 10px;
    background-color: black;
    --box-height: 30px;
    height: var(--box-height) + 5px;
    text-align: left;
    align-items: center;
    color: white;
    display: flex;
}
.contact img{
    margin-left: 5px;
    margin-right: 5px;
    max-height: var(--box-height);
}
.contact p {
    display: inline;
    margin: 0; 
    color: #cdad7d;
    font-size: 20px;
}
header img{
    max-height: 120px;
}

nav{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ecdf98;
    text-align: center;
    min-width: 600px;
}
nav a{
    padding-right: 1.5%;
    padding-left: 1.5%;
    font-weight: bold;
}

footer {
    background-color: #ecdf98;
    --font-size: 20px;
    font-size: var(--font-size);
    direction: rtl;
    padding-right: 90PX;
    font-family: Calibri;
}
footer a{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
footer a img{
    max-height: var(--font-size);
}

a{
    color: black;
    text-decoration: none; 
    text-underline-offset: 5px;
}

#scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
}
#scrollButton img{
    max-height: 60px;
}